.navigation-buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 10px; /* Reduce la distancia entre los botones de navegación y la tabla */
  margin-top: 20px; /* Aumenta la distancia entre los botones de navegación y el botón de logout */
}

.navigation-buttons button {
  margin-top:   70px;
  width: 500px; /* Doble de grande */
  height: 60px; /* Más alto para ser rectangular */
  border-radius: 0;

  /* Hace que los botones sean rectangulares */
}

.navigation-buttons button.active {
  background-color: #3f51b5; /* Cambia el color de fondo cuando está activo */
  color: white;
}
